## Pandas
![alt text](PandasNedir.png)

In [1]:
import numpy as np
import pandas as pd

### Series ve DataFrame Tanımlama

In [2]:
#Seri
pd.Series([11,22,33])
# serilerde satır etiketi, sıra numararı ve ortak veri tipi ile karşılışıyoruz.

#Dataframe
pd.Series([11,22,33], index = ['s1','s2','s3']) #Seriede varsayılan olarak sıra numaraları etiket index olarak atanır.
#İndex parametresi ile etiket ataması yapabiliriz.

s1    11
s2    22
s3    33
dtype: int64

In [3]:
## Dataframe Oluşturma
departman = pd.DataFrame(data = [
                        (1,'Departman A'),
                        (2,'Departman B'),
                        (3,'Departman C')
                     ]
                     ,columns=["DepId","DepAd"])
#kolon ve satır etiketi verilmediğinde sıra numarasını str tipinden etiket olarak kullanır.

departman

   DepId        DepAd
0      1  Departman A
1      2  Departman B
2      3  Departman C

In [4]:
#DataFrame 2
ekipEfor = pd.DataFrame(data = {
                                "Id":[1,2,3,4,5],
                                "Ad":["Ali","Veli","Ayşe","Fatma","Tonguç"],
                                "Cinsiyet":["E","E",None,"K","E"],
                                "Miktar":[120,None,250,350,None]
                                }
                        ,columns=["Id","Ad","Cinsiyet","Miktar","DepartmanId"] #kolon iismleri güncellenir olmayan kolonlar eklenir.
                        ,index=["İstanbul","İstanbul","Ankara","Ankara","İzmir"]
                        )
#
ekipEfor

          Id      Ad Cinsiyet  Miktar DepartmanId
İstanbul   1     Ali        E   120.0         NaN
İstanbul   2    Veli        E     NaN         NaN
Ankara     3    Ayşe     None   250.0         NaN
Ankara     4   Fatma        K   350.0         NaN
İzmir      5  Tonguç        E     NaN         NaN

### Yapısını Değiştirmek

#### Satır ve Kollon İsimleri Vermek

In [5]:
ekipEfor.index #Satır etiketleri #Index(['İstanbul', 'İstanbul', 'Ankara', 'Ankara', 'İzmir'], dtype='object', name='Şehir')
ekipEfor.index.name ="Lokasyon"


#
ekipEfor.columns #Kolon etiketleri Index(['Id', 'Ad', 'Cinsiyet', 'Miktar', 'DepartmanId'], dtype='object')
ekipEfor.columns.name = "Özellikler"


#
ekipEfor

Özellikler  Id      Ad Cinsiyet  Miktar DepartmanId
Lokasyon
İstanbul     1     Ali        E   120.0         NaN
İstanbul     2    Veli        E     NaN         NaN
Ankara       3    Ayşe     None   250.0         NaN
Ankara       4   Fatma        K   350.0         NaN
İzmir        5  Tonguç        E     NaN         NaN

#### Satır ve Kolonların Etiketlerini Güncelleyelim

In [6]:
ekipEfor.columns = ['Id', 'Ad', 'Cinsiyet', 'Miktar', 'DepId']
ekipEfor.index  = ['Bursa', 'Bursa', 'Ankara', 'Ankara', 'İzmir']

#-------------------------------------------------------------
#numpydaki öğrendiklerimiz ile kolon iismlerini bir dizi olarak üretip verelim.
ekipEfor.index = np.where(ekipEfor.index =="Ankara","Çorum",ekipEfor.index)
#-------------------------------------------------------------

#
ekipEfor.rename(columns={"Miktar":"Uretim"} , index={"Çorum":"Bolu"}, inplace=True) #inplace=True ile orjinalini etkiler.

#
ekipEfor

       Id      Ad Cinsiyet  Uretim DepId
Bursa   1     Ali        E   120.0   NaN
Bursa   2    Veli        E     NaN   NaN
Bolu    3    Ayşe     None   250.0   NaN
Bolu    4   Fatma        K   350.0   NaN
İzmir   5  Tonguç        E     NaN   NaN

#### Satır etiketlirini sıfırlamak ve bir kolonu satır etiketi haline getirmek

In [7]:
#Satır etiketi sıfırlandığında satırdaki bu bilgi kolona dönüştürülür.
#orjinalini etkilemez.
ekipEfor = ekipEfor.reset_index() #inplace=True 

ekipEfor

   index  Id      Ad Cinsiyet  Uretim DepId
0  Bursa   1     Ali        E   120.0   NaN
1  Bursa   2    Veli        E     NaN   NaN
2   Bolu   3    Ayşe     None   250.0   NaN
3   Bolu   4   Fatma        K   350.0   NaN
4  İzmir   5  Tonguç        E     NaN   NaN

In [8]:
ekipEfor.rename(columns =  {"index":"Şehir"}, inplace=True)
ekipEfor

   Şehir  Id      Ad Cinsiyet  Uretim DepId
0  Bursa   1     Ali        E   120.0   NaN
1  Bursa   2    Veli        E     NaN   NaN
2   Bolu   3    Ayşe     None   250.0   NaN
3   Bolu   4   Fatma        K   350.0   NaN
4  İzmir   5  Tonguç        E     NaN   NaN

In [9]:
#bir kolonu index etiketi olarak kullanabiliriz.
ekipEfor.set_index("Şehir", inplace=True)
ekipEfor.index.name = None #indexin başlığını kaldırdık.

ekipEfor

       Id      Ad Cinsiyet  Uretim DepId
Bursa   1     Ali        E   120.0   NaN
Bursa   2    Veli        E     NaN   NaN
Bolu    3    Ayşe     None   250.0   NaN
Bolu    4   Fatma        K   350.0   NaN
İzmir   5  Tonguç        E     NaN   NaN

#### Kolonların Veri Tiplerini Değiştirmek

In [10]:
# 240.0+ bytes
# 220.0+ bytes
# 190.0+ bytes
# 175.0+ bytes
ekipEfor = ekipEfor.astype({
                            "Id": np.int8, #int,
                            "Uretim":np.float16, #pd.Float32Dtype(),  #:float,
                            "Ad":str #:str
                        })

#
ekipEfor.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Bursa to İzmir
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Id        5 non-null      int8
 1   Ad        5 non-null      object
 2   Cinsiyet  4 non-null      object
 3   Uretim    3 non-null      float16
 4   DepId     0 non-null      object
dtypes: float16(1), int8(1), object(3)
memory usage: 175.0+ bytes

#### Orjinalini Etkilememesi için Atamalarda `b=a.copy` Kullananalım.

In [11]:
ekip = ekipEfor.copy() #orjinali etkilenmez

#copy() ile farklı nesneler oldular.
print(id(ekip),id(ekipEfor) )
print(ekip is ekipEfor)

2093129884688 2093387353936
False

### DF Hakkında Bilgi Almak

In [12]:
ekip.head(2) # üstten kaç satır çekilecek
ekip.tail(2) #alttan kaç  satır
ekip.sample(2) #rastgele kaç satır

       Id      Ad Cinsiyet  Uretim DepId
Bursa   2    Veli        E     NaN   NaN
İzmir   5  Tonguç        E     NaN   NaN

In [13]:
ekip.shape #(5,5) 5 satır 5 sutun var.
ekip.size #kaç hücre var

#
len(ekip) #satır sayısını veriyor. shape'in ilk değerini döndürür.
ekip.__len__()

#
ekip.columns
ekip.index

#tablonun yapısı
#ekip.info()

#istatistiksel değler. Sayısal alanlar için üretir.
ekip.describe()
ekip.describe().T #tranpose almak daha kullanışlı olabiliyor
#ekip.corr() #sayıal kolonların Korelasyonunu verir. metinsel kolonlar olduğu için hata veriyor burada.

        count   mean         std    min    25%    50%    75%    max
Id        5.0    3.0    1.581139    1.0    2.0    3.0    4.0    5.0
Uretim    3.0  240.0  115.312500  120.0  185.0  250.0  300.0  350.0

### Bazı Kullanışlı Fonksiyonlar
* Seri ve DF'lerde kullanılabilir
* axis parametresi verilebilr. 
  * axis=0 satır boyunca işlem yapar
  * axis=1 kolon boyunca işlem yapar

In [14]:
#DF'lerde ve serilerde kullanılanlar
#axis verebilir

#ekip.sum() #sayısal alanları kendi içinde toplar
#ekip.sum(axis=1) #

#
ekip.count() #None olmayanların adedi
ekip.count(axis=1) #kolon boyunca işlem yap.

#min, max, sum, std, mean, median, cumsum vs. kullanılabilir

Bursa    4
Bursa    3
Bolu     3
Bolu     4
İzmir    3
dtype: int64

In [15]:
ekip.nunique() #kaç farklı değer var.
ekip.nunique(axis=1)

Bursa    4
Bursa    3
Bolu     3
Bolu     4
İzmir    3
dtype: int64

In [16]:
#seri de kullanılabilecekler
ekip["Uretim"] #kolon etiketi alır ve kolonu seri olarak döndürür.
ekip.Uretim #ingilizce kolon isimlerinde pandasın sunduğu işlevlerle karışma ihtimali olduğu için kullanmama gayret edelim.


#
ekip.Uretim.mean() #kolon ortalaması

#
ekip.Cinsiyet.value_counts() #Hangi değerden kaç tane var?

#COUNT(DISTINCT kolonAdi) benzeri işlev
ekip.Cinsiyet.value_counts().count() #value_counts()'dan dönen seri olduğu için tekrar count alıp kaç farklı değer kullanılmış görebiliriz.

2

#### None değerler Hakkında
* `isna()` ve `isnull()` ile hücre  bazlı null konrolü yapılabilir. None olan değerler için **True** döner. Diğer hücreler için **False** döner.
* True olanlar 1, False olanlar 0 kabul edilerek None hücreler `sum()` ile sayılabilir.
* `all()` ile tüm hücrelerin None olup olmadığı kontrol edilebilir.**Hepsi None mu?**
* `any()` ile en az bir hücrenin None olup olmadığı kontrol edilebilir. **Hiç None var mı?**

In [30]:
ekip.isna() #isnull()

#
ekip.isna().any() #herhangi bir hücrede None var mı? True var mı?
#ekip.isna().any(axis=1)

#
ekip.isna().any().any() #DF'te hiç None var mı?

#
ekip.isna().all() #hepsi None olan hücreler için True döner
ekip.isna().all(axis=1) #komple None olan bir satır var mı?
#
#ekip.isna().all().any() #DF'te hepsi None olan bir kolon var mı?

Bursa    False
Bursa    False
Bolu     False
Bolu     False
İzmir    False
dtype: bool

#### Sıralama

In [33]:
ekip.sort_index(ascending=True) #ascending=False ters sıralama
ekip.sort_values(by="Uretim", ascending=False) #Uretim kolonuna göre sıralama

       Id      Ad Cinsiyet  Uretim DepId
Bolu    4   Fatma        K   350.0   NaN
Bolu    3    Ayşe     None   250.0   NaN
Bursa   1     Ali        E   120.0   NaN
Bursa   2    Veli        E     NaN   NaN
İzmir   5  Tonguç        E     NaN   NaN

### Değerlere Ulaşmak
![alt text](PandasDegerlereUlasmak.png)

In [34]:
ekip =ekipEfor.copy()